/*
@font-face {
    src: url('../font/Roboto-Regular.ttf');
}

@font-face {
    src: url('../font/Roboto-Italic.ttf');
    src: url('../font/Roboto-Thin.ttf');
    src: url('../font/Roboto-ThinItalic.ttf');
    src: url('../font/Roboto-Light.ttf');
    src: url('../font/Roboto-LightItalic.ttf');
    src: url('../font/Roboto-Bold.ttf');
    src: url('../font/Roboto-BoldItalic.ttf');
    src: url('../font/Roboto-Medium.ttf');
    src: url('../font/Roboto-MediumItalic.ttf');
    src: url('../font/Roboto-Black.ttf');
    src: url('../font/Roboto-BlackItalic.ttf');
}

.roboto { -fx-font-family: 'Roboto' }
.roboto-bold { -fx-font-family: 'Roboto Bold' }
.roboto-italic { -fx-font-family: 'Roboto Italic' }
.roboto-thin-italic { -fx-font-family: 'Roboto Thin Italic' }
*/

.top-bar-backgroud { -fx-background-color: #2496ed }

.border-gray { -fx-border-color: #d6d6d8 }
.border-black { -fx-border-color: #000000 }
.border-blue { -fx-border-color: #0296f4 }

.border-thin { -fx-border-width: 1px }
.border-medium { -fx-border-width: 3px }
.border-thick { -fx-border-width: 5px }

.border-left-solid { -fx-border-style: solid none none none }
.border-top-solid { -fx-border-style: none solid none none }
.border-right-solid { -fx-border-style: none none solid none }
.border-bottom-solid { -fx-border-style: none none none solid }

.check-box {
        selected-box-color: #007bff;
        box-color: #70787d;
        mark-color: #f4f4f6;
}

.check-box:selected > .box {
        /* background color for selected checkbox */
        -fx-background-color: selected-box-color;
}

.check-box > .box {
        /* background color of unselected checkbox */
        -fx-background-color: box-color;
}

.check-box:selected > .box > .mark,
.check-box:indeterminate > .box > .mark {
        /* modify mark color */
        -fx-background-color: mark-color
}

#main-layout-pane {
	-fx-background-color: #f4f4f6;
}

.button {

}

.flat_button {
        -fx-background-radius: 0;
        -fx-padding: 0;
        -fx-background-color: transparent;
}

.top-button {
        -fx-background-color: #1182d9;
}

.control-button {
	-fx-text-fill: #2e516b;
	-fx-font-weight: bold;
	-fx-background-radius: 0;
	-fx-padding: 0;
	-fx-background-color: transparent;
}

.control-button:pressed {}

.close:hover { -fx-background-color: #d51e37 }
.control-button:hover { -fx-background-color: #1d78be }

.bottom-bar-background {
        -fx-background-color: #fafafb;
}
#main-bottom-hbox {
        
}

