
/*****************************************************************************/
/*                                                                           */
/* --- Begin Fonts Section ---                                               */
/*                                                                           */
/*****************************************************************************/

/* Roboto Fonts
   ------------ */
    @font-face {
        src: url('../font/Roboto-Regular.ttf');
    }

/* BelottaText Fonts
   ----------------- */
    @font-face {
    	src: url('../font/BellotaText-Regular.ttf');
    }
    @font-face {
    	src: url('../font/BellotaText-Bold.ttf');
    }
    @font-face {
    	src: url('../font/BellotaText-BoldItalic.ttf');
    }

/* Gelasio Fonts
   ------------- */
    @font-face {
        src: url('../font/Gelasio-Regular.ttf');
    }
    @font-face {
        src: url('../font/Gelasio-Medium.ttf');
    }
    @font-face {
        src: url('../font/Gelasio-Bold.ttf');
    }
    @font-face {
    	src: url('../font/Gelasio-SemiBold.ttf');
    }

/* NunitoSans Fonts
   ---------------- */
    @font-face {
        src: url('../font/NunitoSans-Regular.ttf');
    }
    @font-face {
        src: url('../font/NunitoSans-Italic.ttf');
    }
    @font-face {
        src: url('../font/NunitoSans-Bold.ttf');
    }
    @font-face {
        src: url('../font/NunitoSans-BoldItalic.ttf');
    }
    @font-face {
        src: url('../font/NunitoSans-SemiBold.ttf');
    }
    @font-face {
        src: url('../font/NunitoSans-SemiBoldItalic.ttf');
    }

/* NotoSansKR Fonts
   ---------------- */
    @font-face {
        src: url('../font/NotoSansKR-Regular.otf');
    }
    @font-face {
        src: url('../font/NotoSansKR-Medium.otf');
    }
    @font-face {
        src: url('../font/NotoSansKR-Thin.otf');
    }
    @font-face {
        src: url('../font/NotoSansKR-Bold.otf');
    }

/* OpenSans Fonts
   -------------- */
    @font-face {
        src: url('../font/OpenSans-Regular.ttf');
    }
    @font-face {
        src: url('../font/OpenSans-Italic.ttf');
    }
    @font-face {
        src: url('../font/OpenSans-Bold.ttf');
    }
    @font-face {
        src: url('../font/OpenSans-SemiBold.ttf');
    }
    @font-face {
        src: url('../font/OpenSans-Light.ttf');
    }

/* Raleway Fonts
   ------------- */
    @font-face {
        src: url('../font/Raleway-Regular.ttf');
    }
    @font-face {
        src: url('../font/Raleway-Italic.ttf');
    }
    @font-face {
        src: url('../font/Raleway-Bold.ttf');
    }
    @font-face {
        src: url('../font/Raleway-BoldItalic.ttf');
    }
    @font-face {
        src: url('../font/Raleway-Medium.ttf');
    }
    @font-face {
        src: url('../font/Raleway-SemiBold.ttf');
    }
    @font-face {
        src: url('../font/Raleway-Light.ttf');
    }
    @font-face {
        src: url('../font/Raleway-Thin.ttf');
    }

/* Confortaa Fonts
   --------------- */
    @font-face {
        src: url('../font/Comfortaa-Regular.ttf');
    }
    @font-face {
        src: url('../font/Comfortaa-Medium.ttf');
    }
    @font-face {
        src: url('../font/Comfortaa-Bold.ttf');
    }
    @font-face {
        src: url('../font/Comfortaa-SemiBold.ttf');
    }

/* --- End Fonts Section --- */

/*
@font-face {
    src: url('../font/Roboto-Italic.ttf');
    src: url('../font/Roboto-Thin.ttf');
    src: url('../font/Roboto-ThinItalic.ttf');
    src: url('../font/Roboto-Light.ttf');
    src: url('../font/Roboto-LightItalic.ttf');
    src: url('../font/Roboto-Bold.ttf');
    src: url('../font/Roboto-BoldItalic.ttf');
    src: url('../font/Roboto-Medium.ttf');
    src: url('../font/Roboto-MediumItalic.ttf');
    src: url('../font/Roboto-Black.ttf');
    src: url('../font/Roboto-BlackItalic.ttf');
}
*/

.roboto { 
	-fx-font-family: 'Roboto';
}

.roboto-bold { -fx-font-family: 'Roboto Bold' }
.roboto-italic { -fx-font-family: 'Roboto Italic' }
.roboto-bold-italic { -fx-font-family: 'Roboto Bold Italic' }
.roboto-medium { -fx-font-family: 'Roboto Medium' }
.roboto-medium-italic { -fx-font-family: 'Roboto Medium Italic' }
.roboto-thin { -fx-font-family: 'Roboto Thin' }
.roboto-thin-italic { -fx-font-family: 'Roboto Thin Italic' }
.roboto-light { -fx-font-family: 'Roboto Light' }
.roboto-light-italic { 
	-fx-font-family: 'Roboto Italic';
}

/*****************************************************************************/
/*                                                                           */
/* --- Begin Colors Section ---                                              */
/*                                                                           */
/*****************************************************************************/
   
* {
    
    /* General Colors
       -------------- */
    -color-white: #ffffff;
    -color-black: #202020;
    -color-gray: #71797e;
    -color-red: #f44336;
    
    /* Window Colors
       ------------- */
    -color-window-background: #f4f4f6;
    -color-window-bottom: #fafafb;
    -color-window-separator: #d6d6d8;
    -color-top-blue: #2496ed;
    
    /* Button Colors
       ------------- */
    -color-button-blue: #007bff;
    -color-button-red: #e12b0c;
    /* top buttons */
    -color-top-button-circle: #1182d9;
    -color-top-button-circle-hover: #0b6db8;
    /* control buttons */
    -color-control-stroke: #2e516b;
    -color-control-hover: #1d78be;
    -color-control-close-hover: #d51e37;
    /* outline buttons */
    -color-outline-background: -color-window-background;
    -color-outline-blue: -color-button-blue;
    -color-outline-text-blue: -color-button-blue;
    -color-outline-hover-blue: #e6f0fb;
    -color-outline-red: -color-button-red;
    -color-outline-text-red: -color-button-red;
    -color-outline-hover-red: #f3e4e4;
    -color-outline-disabled: #b5b5b6;
    /* solid buttons */
    -color-solid-text: #ffffff;
    -color-solid-background-blue: -color-button-blue;
    -color-solid-hover-blue: #096bd4;
    -color-solid-background-red: -color-button-red;
    -color-solid-hover-red: -color-button-red;
    -color-solid-disabled: #dcdcdc;
    -color-solid-disabled-text: #a3a3a3;
    
    /* Label Colors
       ------------ */
    -color-header-black: -color-black;
    -color-description-gray: -color-gray;
    -color-warning-red: -color-red;
    
    /* Text Field Colors
       ---------------- */
    -color-textfield-text: #1f1f1f;
    -color-textfield-default-text: #709599;
    -color-textfield-prompt-text: #b7bbbe;
    -color-textfield-prompt-settled: #096bd4;
    -color-textfield-prompt-border: #8e8e8f;
    -color-textfield-invalid-red: -color-red;

    /* Setting's Side Button Colors
       ---------------------------- */
    -color-side-button-hover: #e6eff6;
    -color-side-button-selected: #d8eaf6;
    -color-side-button-border: -color-button-blue;
    
    /* Other Colors
       ------------ */
    -color-primary:#d8d8d8;
    -color-accent:#F44336;
    -color-secondary:#1E88E5;
    -color-dark-primary:#1d1d1d;
    -color-amber:#ffc400;
    -color-gray:#666666;
    
}

/* --- End Colors Section --- */

/*****************************************************************************/
/*                                                                           */
/* --- Begin Text Section ---                                                */
/*                                                                           */
/*****************************************************************************/

/* force gray font anti aliasing */
/* .text { a-fx-font-smoothing-type: gray; } */

.header {
    -fx-text-fill: -color-header-black;
    -fx-font-size: 24pt;
    -fx-font-family: 'Open Sans Regular';
}

.sub-header {
    -fx-text-fill: -color-header-black;
    -fx-font-size: 20pt;
    -fx-font-family: 'Open Sans Regular';
}

.description { 
    -fx-text-fill: -color-description-gray;
    -fx-font-size: 18pt;
    -fx-font-family: 'Open Sans Regular';
}

.sub-description {
    -fx-text-fill: -color-description-gray;
    -fx-font-size: 16pt;
    -fx-font-family: 'Open Sans Regular';
}


/* --- End Text Section --- */

/* Begin Border Styles */

.border-top-solid { -fx-border-style: solid }
.border-left-solid { -fx-border-style: none solid none none }
.border-bottom-solid { -fx-border-style: none none solid none }
.border-right-solid { -fx-border-style: none none none solid }

.border-thin { -fx-border-width: 1px }
.border-medium { -fx-border-width: 2px }
.border-thick { -fx-border-width: 3px }

.border-gray { -fx-border-color: #d6d6d8 }
.border-black { -fx-border-color: #000000 }
.border-blue { -fx-border-color: #0296f4 }

/* End Border Styles */

/*****************************************************************************/
/*                                                                           */
/* --- Begin Check Box Section ---                                           */
/*                                                                           */
/*****************************************************************************/

.check-box {
    selected-box-color: -color-button-blue;
    box-color: #70787d;
    mark-color: -color-white;/*-color-window-background;*/
}
/* background color for selected checkbox */
.check-box:selected > .box {
    -fx-background-color: selected-box-color;
}
/* background color of unselected checkbox */
.check-box > .box {
    -fx-background-color: box-color, -color-window-background;
    -fx-background-radius: 2, 1;
    -fx-background-insets: 0, 1.75;
    -fx-padding: 2;
}
/* modify mark color */
.check-box:selected > .box > .mark,
.check-box:indeterminate > .box > .mark { -fx-background-color: mark-color }

/* --- End Check Box Section --- */

/*****************************************************************************/
/*                                                                           */
/* --- Begin Button Section ---                                              */
/*                                                                           */
/*****************************************************************************/

/* Flat Buttons
   ------------ */
.flat-button {
    -fx-background-radius: 0;
    -fx-padding: 0;
    -fx-background-color: transparent;
}

/* Outline and Solid Buttons
   ------------------------- */
.blue-outline-button,
.red-outline-button,
.blue-solid-button,
.red-solid-button {
    -fx-padding: 8 15;
    -fx-font-size: 1.01em;
    -fx-font-family: 'Open Sans SemiBold';
}

/* Outline Buttons
   --------------- */
.blue-outline-button,
.red-outline-button {
	-fx-background-radius: 4, 3;
	-fx-background-insets: 0, 1;
}

.blue-outline-button {
	-fx-background-color: -color-outline-blue, -color-outline-background;
	-fx-text-fill: -color-outline-text-blue;
}
.blue-outline-button:hover { -fx-background-color: -color-outline-blue, -color-outline-hover-blue; }

.red-outline-button {
    -fx-background-color: -color-outline-blue, -color-outline-background;
    -fx-text-fill: -color-outline-text-red;
}
.red-outline-button:hover { -fx-background-color: -color-outline-red, -color-outline-hover-red; }

.blue-outline-button:disabled,
.red-outline-button:disabled {
	-fx-opacity: 1.0;
    -fx-background-color: -color-outline-disabled, -color-outline-background;
    -fx-text-fill: -color-outline-disabled;
}

/* Solid Buttons
   ------------- */
.blue-solid-button,
.red-solid-button {
	-fx-background-radius: 4;
	-fx-text-fill: -color-solid-text;
}

.blue-solid-button { -fx-background-color: -color-solid-background-blue; }
.blue-solid-button:hover { -fx-background-color: -color-solid-hover-blue; }

.red-solid-button { -fx-background-color: -color-solid-background-red; }
.red-solid-button:hover { -fx-background-color: -color-solid-hover-red; }

.blue-solid-button:disabled,
.red-solid-button:disabled {
	-fx-opacity: 1.0;
	-fx-background-color: -color-solid-disabled;
	-fx-text-fill: -color-solid-disabled-text;
}

/* --- End Button Section --- */

/*****************************************************************************/
/*                                                                           */
/* --- Begin Toggle Switch Section ---                                       */
/*                                                                           */
/*****************************************************************************/

.toggle-switch {}

.toggle-switch-label {
    -fx-text-fill: -color-black;
    -fx-font-size: 1em;
    -fx-font-family: 'Open Sans Regular';
    -fx-padding: -2 0 0 10;
}

.toggle-switch .thumb {
    -fx-background-color: #fafafa;
    -fx-background-insets: 0, 1, 2;
    -fx-background-radius: 1.0em;
    -fx-padding: 0.75em;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.3), 1, 0.1, 0.0, 1.0);
}

.toggle-switch .thumb-area {
    -fx-background-radius: 1em;
    -fx-background-color: #989899;
    -fx-background-insets: 0, 1;
    -fx-padding: 0.5em 1.333333em 0.5em 1.333333em;
}

.toggle-switch:selected .thumb {
    -fx-background-color: -color-button-blue;
    -fx-background-insets: 0, 1;

}

.toggle-switch:selected .thumb-area {
    -fx-background-color: #7ab7fa;
    -fx-background-insets: 0, 1;
}

.toggle-switch:disabled {
	-fx-opacity: 0.4;
}

/* --- End Toggle Switch Section --- */

/*****************************************************************************/
/*                                                                           */
/* --- Begin Text Field Section ---                                          */
/*                                                                           */
/*****************************************************************************/

.flat-text-field {
    -fx-background-radius: 0;
    -fx-padding: 2 0 4 0;
    -fx-background-color: transparent;
    -fx-border-color: #8e8e8f;
    -fx-border-width: 0 0 1 0;
    -fx-prompt-text-fill: #70787d;
    -fx-text-fill: #1f1f1f;
}

.flat-text-field:hover {
    -fx-border-color: #202020;
    -fx-border-width: 0 0 2 0;
}

.flat-text-field:focused {
    -fx-highlight-fill: -fx-accent;
    -fx-highlight-text-fill: -color-white;
    -fx-background-color: #ececee;
    -fx-border-color: #007bff;
    -fx-border-width: 0 0 2 0;
    -fx-background-insets: -0.2, 1, -1.4, 3;
    -fx-background-radius: 3, 2, 4, 0;
    -fx-prompt-text-fill: transparent;
}

/* --- End Text Field Section --- */

#main-anchor-pane {
    -fx-background-color: transparent;
}

#main-border-pane {
    -fx-background-color: transparent;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.3), 10.0, 0.1, 0.0, 0.0);
}

/*****************************************************************************/
/*                                                                           */
/* --- Begin Root's Top Section ---                                          */
/*                                                                           */
/*****************************************************************************/

.root-top-hbox { -fx-background-color: -color-top-blue; }

.root-top-hbox .logo-icon {
    -fx-size: 32;
    -fx-min-width: -fx-size;
    -fx-min-height: -fx-size;
    -fx-max-width: -fx-size;
    -fx-max-height: -fx-size;
    -fx-background-color: -color-white;
}
.root-top-hbox .logo-label-top, .logo-label-bottom {
    -fx-font-family: "Comfortaa Bold";
    -fx-font-size: 1.4em;
}


.root-top-hbox .top-button .icon {
	-fx-size: 20;
	-fx-min-width: -fx-size;
	-fx-min-height: -fx-size;
	-fx-max-width: -fx-size;
	-fx-max-height: -fx-size;
}
.root-top-hbox .top-button .circle {
    -fx-scale-x: 1.5em;
    -fx-scale-y: 1.5em;
}
.root-top-hbox .top-button .inactive .circle { -fx-fill: -color-top-button-circle; }
.root-top-hbox .top-button:hover .inactive .circle { -fx-fill: -color-top-button-circle-hover; }
.root-top-hbox .top-button .inactive .icon { -fx-background-color: -color-white; }
.root-top-hbox .top-button .selected .circle { -fx-fill: -color-white; }
.root-top-hbox .top-button .selected .icon { -fx-background-color: -color-top-blue; }

.root-top-hbox .control-button {
    -cntrl-btn-width: 46;
    -cntrl-btn-height: 30;
    -fx-min-width: -cntrl-btn-width;
    -fx-min-height: -cntrl-btn-height;
    -fx-max-width: -cntrl-btn-width;
    -fx-max-height: -cntrl-btn-height;
}
.root-top-hbox .control-button .icon-shape {
    -fx-stroke: -color-control-stroke;
    -fx-stroke-width: 1.5;
}
.root-top-hbox .control-button:hover { -fx-background-color: -color-control-hover; }
.root-top-hbox .control-button-close:hover { -fx-background-color: -color-control-close-hover; }
.root-top-hbox .control-button-close:hover .control-button-close-x { -fx-stroke: -color-white; }

/* --- End Root's Top Section --- */

/*****************************************************************************/
/*                                                                           */
/* --- Begin Root's Middle Section ---                                       */
/*                                                                           */
/*****************************************************************************/

.root-middle-vbox { -fx-background-color: -color-window-background; }

.view-title-bar {
    /* gray separator above and below root's sub view title bar section */
    -fx-background-color: -color-window-separator, -color-window-background;
    -fx-background-insets: 0, 1 0 1 0;
}

.view-title-bar .view-title {
    -fx-text-fill: -color-black;
    -fx-font-size: 1.33em;
    -fx-font-family: 'Open Sans SemiBold';
}

.view-title-bar .close-view .close-view-x {
    -fx-stroke: #70787d;
    -fx-stroke-width: 1.6;
}

.view-title-bar .close-view:hover .close-view-x { -fx-stroke: -color-black; }

/* --- End Root's Middle Section --- */

/*****************************************************************************/
/*                                                                           */
/* --- Begin Root's Bottom Section ---                                       */
/*                                                                           */
/*****************************************************************************/

.root-bottom-hbox {
    /* gray separator above root's bottom section */
    -fx-background-color: -color-window-separator, -color-window-bottom;
    -fx-background-insets: 0, 1 0 0 0;
}

.root-bottom-hbox .bookie-scraper {
    -fx-font-family: 'Open Sans Regular';
    -fx-font-size: 1.15em;
    /* a-fx-font-size: 14; */
}

.root-bottom-hbox .bookie-scraper-status {
    -fx-font-family: 'Open Sans Italic'; /*"Bellota Text Bold Italic";*/
    -fx-font-size: 1.1em;
    /*-fx-font-size: 13;*/
}

.root-bottom-hbox .bottom-buttons .apply:hover {
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.3), 10.0, 0.2, 0.0, 5.0);
}

/* --- End Root's Bottom Section --- */


