


.section {
    -fx-text-fill: -color-text-black;
    -fx-font-family: 'Open Sans Regular';
}

.section > .title {
    -fx-font-size: 1.7em;
    -fx-padding: 0;
}

.section > .sub-title {
    -fx-font-size: 1.333em;
    -fx-padding: 6 0 10 0;
}

.section > .sub-section {
    -fx-padding: 8 0 8 0;
}

.section > .sub-section > .title {
    -fx-font-size: 1.233em;
    -fx-padding: 12 0 0 0;
}

.section .sub-section .item {
    -fx-padding: 14 0 0 0;
}
.section > .sub-section > .item {
    -fx-padding: 22 0 0 0;
}

.section > .sub-section > .item-text {
    -fx-font-size: 1.1em;
}

.section > .sub-section > .description {
    -fx-padding: 0;
}
.section > .sub-section > .description-text {
    -fx-text-fill: #71797e;
    -fx-font-family: 'Nunito Sans';
    -fx-font-size: 12pt;
}

.header {
    -fx-text-fill: #202020;
    -fx-font-size: 1.7em;
    -fx-font-family: 'Open Sans Regular';
    -fx-padding: 0 0 10 0;
}

.sub-header {
}

.description { 
    -fx-text-fill: #71797e;
    
    -fx-font-family: 'Open Sans Regular';
    
}

.sub-description {
    
}

.settings-hbox {
    -fx-background-color: -color-window-background;
}

/*****************************************************************************/
/*                                                                           */
/* --- Begin Setting's Left Section ---                                      */
/*                                                                           */
/*****************************************************************************/

.left .flat-button {  }

.left {  }

.left .flat-button .icon {
    -fx-size: 12;
    -fx-min-width: -fx-size;
    -fx-min-height: -fx-size;
    -fx-max-width: -fx-size;
    -fx-max-height: -fx-size;
    -fx-background-color: #707071;
}

.left .flat-button .button-label {
     -fx-font-size: 14;
     -fx-font-family: 'Open Sans';
}

.left .flat-button .container {
     -fx-padding: 10 74 10 20;
     -fx-spacing: 20;
}

.left .flat-button .inactive:hover { -fx-background-color: #e6eff6 }

.left .flat-button .inactive {
    -fx-background-color: #f4f4f6;
    -fx-border-style: solid;
    -fx-border-width: 0 0 0 2.5;
    -fx-border-color: #f4f4f6;
}

.left .flat-button .selected {
    -fx-background-color: #d8eaf6;
    -fx-border-style: solid;
    -fx-border-width: 0 0 0 2.5;
    -fx-border-color: #007bff;
    
}

/*****************************************************************************/
/*                                                                           */
/* --- Begin Setting's Right Section ---                                     */
/*                                                                           */
/*****************************************************************************/

.right .scroll {
    -fx-background-color: transparent;
}

.right .check-box { -fx-padding: -3 0 0 0; }

.right .top-prompt-text-field { -prompt-transition-duration: 100.0; }

.right .top-prompt-text-field .text-field { -fx-background-insets: 0, 0 0 1 0; }

.right .top-prompt-text-field .prompt-pane .prompt,
.right .top-prompt-text-field .text-field {
    -fx-font-size: 1.2em;
    -fx-font-family: "Open Sans Regular";
}

.top-prompt-text-field .default-pane .default-stub,
.top-prompt-text-field .default-pane .default-text {
    -fx-font-size: 1em;
    -fx-font-family: "Open Sans Regular"; 
}

.top-prompt-text-field .default-pane .default-stub { -fx-padding: 4 4 10 0; }

